<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/tabs/tab1">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Canada Summary</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Ontario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="details" href="/tabs/page1">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Details Page</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
